*,
*:after,
*:before {
 box-sizing: border-box;
 margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 110em;
}


/* 
====================================================================================
Nav Left
==================================================================================== */


.nav-left {
    background-color: #374051;
    display: flex;
    flex-direction: column;
    height: 110rem;
    width: 15.65em;
}

.portrait {
    align-items: center;
    background-color: #374050;
    border-bottom: 3px solid #2C3342; 
    color: #A5ACB9; 
    display: flex; 
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    height: 12em;
    justify-content: center;
    width: 100%;
}

.portrait-image {
    border-radius: 50%;
    height: 42%;
}

.name {
    display: inline;
}

.down-arrow {
    width: 9px;
}

.option-row {
  display: flex;
  flex-direction: row;
  margin: 11px 4px;
  padding: 5px;
}

.nav-icon {
  height: 19px;
}

.nav-headline {
  color: #A2ACBD; 
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  margin-left: 13px;
  margin-top: 30px;
  opacity: .5;
}


.nav-option {
  color: #A2ACBD; 
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  padding-left: 10px;
}

.nav-contain {
  background-color: #374050; 
  border-top: solid 1px rgb(76, 78, 83);
  display: flex;
  flex-direction: column;
  height: 23.3em;
  padding-top: 5px;
  padding-left: 20px;
  width: 100%;
}

.admin, .main {
    border-bottom: 3px solid #2C3342; 
}




/* 
====================================================================================
Top Toolbar
==================================================================================== */

.container-right {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    width: 74.4em;
}

.top-toolbar {
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1.5px solid #EFF2F5;
    display: flex;
    flex-direction: row;
    height: 6.1em;
    width: 100%;
}

.hamburger {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 5em;
    width: 6.9%;
}

.triangle {
    width: 9px;
}

.hamburger-icon {
    width: 23px;
}

.search-bar {
    background: url(images/search.svg) no-repeat;
    background-position: 20px 23px;
    background-size: 2em;
    border: 1.5px solid #EFF2F5;
    font-family: 'Open+Sans', sans-serif;
    font-size: 18px;
    height: 5.1em;
    padding-left: 80px;
    outline: none;
    width: 54.5rem;
}

.top-icons {
    width: 2em;
}

.top-icon-container {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 5em;
}

.add-date {
    border-left: 1.5px solid #EFF2F5;
    
}

.settings {
    border-left: 1.5px solid #EFF2F5;

}

/* 
====================================================================================
Headline
==================================================================================== */


.headline {
    display: flex;
    flex-direction: row;
    height: 10em;
    justify-content: space-between;
    margin-bottom: 26px;
}

.headline-left {
    display: flex;
    flex-direction: column;
    height: 10em;
    justify-content: center;
    padding-left: 43px;
    text-align: left;
    width: 75%;
}

.location-header {
  display: flex;
  flex-direction: row;
}

.header-city {
  font-size: 1em;
  font-weight: 500;
  color: #A2ACBD; 

}

.header-preview {
    color: #72B8F6;
}

.dot-icon {
  height: 4px;
  margin: 2.8px 5px;
}

.customer-service {
    font-size: 2em;
    color: #535561;  
    margin-bottom: .5em;
    font-weight: 400;
}

.headline-right {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 11em;
    justify-content: flex-end;
    margin-right: 29px;
    text-align: right;
    width: 25%;
}

.headline-icon {
    width: 20px;
}

.banner-button {
    border: 2px solid #D0D6DC;
    border-radius: 100%;
    height: 41px;
    margin: 9px;
    padding: 8px;
    width: 41px;
}

.open-button  {
    border: 2px solid #D0D6DC;
    border-radius: 20px;
    color: #4e515e;
    font-family: 'Open+Sans', sans-serif;
    font-size: 13px;
    font-weight: 550;
    padding: 10px;
    height: 38px;
    margin-right: 8px;
    text-align: center;
    text-decoration: none;
    width: 93px;
}

.green-dot {
    height: 10px;
  }






/* 
====================================================================================
Mid Toolbar
==================================================================================== */

.mid-toolbar {
    display: flex;
    flex-direction: row;
    height: 3em;
    width: 83%;
}

.headline-button {
    border: none;
    color: #A2ACBD; 
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1em;
     width: 80% 
}

/* 
====================================================================================
Data Display
==================================================================================== */

.data-display{
   background-color: #EDF2F6;
   border-top: 3px solid #E0E5E8;
   height: 30em;
}


.graphs-container {
    display: flex;
    flex-direction: row;
    height: 26.5em;
    padding-top: 0.75em;  
}

.circle-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.circles {
    display: flex;
    flex-direction: row;
    margin-top: 2.5em;
}


.bar-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

.circle-chart {
    margin: 20px;
    height: 265px;
    width: 171px;
}

.bar-image {
    height: 20em;
    width: 81%;
}

.data-button {
    background-color: #F9F9FB;
    border: 2.5px solid #DBE4EA;
    border-radius: 20px;
    font-size: .95em;
    font-weight: 550;
    height: 40px;
    padding: 8px;
    text-align: center;
    width: 36%;
}


.totals-dot {
        height: 6px;
        margin: 1.8px 5px; 
        padding-bottom: 2px;  
}


.applicants {
    margin-top: 2em;
}

/* 
====================================================================================
Dividing Line
==================================================================================== */

 .dividing-line {
    align-items: center;
    background-color: #EDF2F6;
    display: flex;
    flex-direction: row;
    height: 3em;
    justify-content: center;
    width: 100%;
 }

 .line-button {
     background-color: #F9F9FB;
     border: 1.5px solid rgb(198, 201, 206);
     border-radius: 50%;
     height: 28px;
     padding: 5px;
     text-align: center;
     width: 28px;
 }

 .line {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    width: 33em;
 }

 .up-arrow {
     height: 16px;
     padding-bottom: 4px;
 }

/* 
====================================================================================
Lower Section
==================================================================================== */

 .lower-box {
    background-color: #EDF2F6;
    display: flex;
    flex-direction: row;
    height: 56.3rem;
 }


 .job-table {
    display: table;
 }

/* 
====================================================================================
Job-Description
==================================================================================== */

 .job-description {
    height: 3.5rem;
    width: 75%;
}

.job-table {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
 }

 .job-description {
     display: flex;
     flex-direction: row;
 }

   

/* 
====================================================================================
Network-Column
==================================================================================== */
    

 .network-column {
     border: 1px solid black;
     height: 50em;
     margin-top: 47px;
     width: 21%;
 }

 .social-buttons {
    display: flex;
    flex-direction: column;
    height: 12em;
 }

 .job-link {
    display: flex;
    flex-direction: column;
 }

 .social-icon {
    height: 2em;
 }

 .icon-align {
    display: flex;
    flex-direction: row;
 }


 .network-button {
     border: none;
     color: #f7f2f2;
     height: 4em;
     line-height: 20px;
     margin-bottom: 13px;
     text-align: center;

 }

 .facebook {
     
    background-color:#3B5998;
 }

 .twitter {
    background-color: #1DA1F2;
 }

 .linkedin {
     background-color: #4875B4;
 }

/* nav icon color #A2ABBD */
