*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/* 
====================================================================================
Nav Left
==================================================================================== */

.nav-left {
  background-color: #374051;
  display: flex;
  flex-direction: column;
  height: 117rem;
  min-width: 243px;
  max-width: 243px;
  width: 15.65em;
}

.portrait {
  align-items: center;
  background-color: #374050;
  border-bottom: 3px solid #2c3342;
  color: #a5acb9;
  display: flex;
  flex-direction: column;
  font: 500 1.1em "Open Sans", sans-serif;
  height: 12em;
  justify-content: center;
  width: 100%;
}

.portrait-image {
  border-radius: 50%;
  height: 5em;
}

.name {
  display: inline;
}

.down-arrow {
  width: 9px;
}

.option-row {
  display: flex;
  padding: 10px 0;
  width: 100%;
  color: #a2acbd;
  font: 800 1em  "Open Sans", sans-serif;
  min-width: 20px;
  padding-left: 10px;
}

.option-row:hover {
  background-color: #313948;
  border-left: 4px solid #48a3f3;
  color: #f8f8ff;
  cursor: pointer;
}

.nav-icon {
  height: 19px;
  padding: 0 10px 0 25px;
}

.nav-headline {
  color: #a2acbd;
  display: flex;
  flex-direction: column;
  font: 600 1em "Open Sans", sans-serif;
  margin: 30px 0 20px 34px;
  opacity: 0.5;
}

.nav-option {
  color: #a2acbd;
  font: 800 1em "Open Sans", sans-serif;
  padding-left: 10px;
}

.nav-contain {
  background-color: #374050;
  border-top: solid 1px rgb(76, 78, 83);
  display: flex;
  flex-direction: column;
  height: 21.3em;
  padding-top: 5px;
  width: 100%;
}

.admin,
.main {
  border-bottom: 3px solid #2c3342;
}

/* 
====================================================================================
Top Toolbar
==================================================================================== */

.container-right {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.top-toolbar {
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1.5px solid #eff2f5;
  display: flex;
  height: 6.1em;
  width: 100%;
}

.hamburger {
  align-items: center;
  background: no-repeat url('images/hamburger.svg') center/ 2rem;
  display: flex;
  height: 100%;
  width: 7em;
}

.hamburger:hover {
  background-image: url("images/hamburgerInvert.svg");
}

.triangle {
  position: absolute;
  width: .90rem;
}

.hamburger-icon {
  width: 23px;
}

.search-top {
  width: 100%;
}

.search-bar {
  background: no-repeat url(images/search.svg) 20px 23px/ 2em;
  border: 1.5px solid #eff2f5;
  font: 18px "Open+Sans", sans-serif;
  height: 5.5em;
  padding-left: 80px;
  outline: none;
  width: 100%;
}

.wrap-top-icons {
  display: flex;
  height: 100%;
  width: 13rem;
}

.top-icons {
  width: 2em;
}

.top-icon-container {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 4.5rem;
}

.hamburger:hover,
.add-user:hover,
.add-date:hover,
.settings:hover {
  background-color: #4f7ad4;
  cursor: pointer;
}

.add-user,
.add-date,
.settings {
  background-position: center;
  background-size: 2rem;   
}

.add-user {
  background: no-repeat url("images/users.svg") center / 2rem;
}

.add-user:hover {
  background-image: url("images/usershover.svg");
}

.add-date {
  border-left: 1.5px solid #eff2f5;
  background: no-repeat url("images/calendar-date.svg") center / 2rem;
}

.add-date:hover {
  background-image: url("images/calendar-hover.svg");
}

.settings {
  background: no-repeat url("images/square-menu.svg") center / 2rem;
  border-left: 1.5px solid #eff2f5;
}

.settings:hover {
  background-image: url("images/menu-hover.svg");
}


/* 
====================================================================================
Headline
==================================================================================== */

.headline {
  display: flex;
  height: 10em;
  justify-content: space-between;
  margin-bottom: 26px;
}

.headline-left {
  display: flex;
  flex-direction: column;
  height: 10em;
  justify-content: center;
  padding-left: 43px;
  text-align: left;
  width: 75%;
}

.location-header {
  display: flex;
}

.header-city {
  font-size: 1em;
  font-weight: 500;
  color: #a2acbd;
}

.header-preview {
  color: #72b8f6;
}

.dot-icon {
  height: 4px;
  margin: 2.8px 5px;
}

.customer-service {
  color: #535561;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.headline-right {
  align-items: center;
  display: flex;
  height: 11em;
  justify-content: flex-end;
  margin-right: 29px;
  text-align: right;
  width: 25%;
}

.headline-icon {
  width: 20px;
}

.banner-button {
  border: 2px solid #d0d6dc;
  border-radius: 100%;
  height: 41px;
  margin: 9px;
  padding: 8px;
  width: 41px;
}

.open-button {
  align-items: center;
  border: 2px solid #d0d6dc;
  border-radius: 20px;
  color: #4e515e;
  display: flex;
  font: 550 0.85em "Open+Sans", sans-serif;
  justify-content: space-evenly;
  padding: 0.8em;
  height: 2.5rem;
  margin-right: 8px;
  text-align: center;
  text-decoration: none;
  width: 5rem;
}

.green-dot {
  height: 0.5em;
}

/* 
====================================================================================
Mid Toolbar
==================================================================================== */

.mid-toolbar {
  display: flex;
  height: 3em;
  margin-left: 25px;
  width: 83%;
}

.headline-button {
  border: none;
  color: #a2acbd;
  font: 700 1em "Open Sans", sans-serif;
  margin: 0 auto;
}

.sum-button {
  margin-top: .8em;
}

.drop-down {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  background-color: #f1f1f1;
  list-style-type: none;
  min-width: 160px;
  z-index: 1;
}

.drop-list {
  text-decoration: none;
}

.drop-item {
  font-family: "Open+Sans", sans-serif;
  margin: auto 0;
}

.nav-icon-head {
  height: 14px;
  margin: 2.8px 5px;
}

.nav-icon-dot {
  height: 4px;
  margin: 2.8px 5px;
}

.headline-button:hover {
  color: #38404f;
  cursor: pointer;
  border-bottom: 4px solid#4F7AD4;
}

/* 
====================================================================================
Data Display
==================================================================================== */

.data-display {
  background-color: #edf2f6;
  border-top: 3px solid #e0e5e8;
  height: 30em;
}

.graphs-container {
  display: flex;
  height: 26.5em;
  padding-top: 0.75em;
  width: 100%;
}

.circle-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.circles {
  display: flex;
  margin-top: 2.5em;
}

.bar-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

.circle-chart {
  margin: 20px;
  height: 265px;
  width: 171px;
}

.bar-image {
  width: 26rem;
}

.data-button {
  background-color: #f9f9fb;
  border: 2.5px solid #dbe4ea;
  border-radius: 20px;
  font: 550 0.95em "Open Sans", sans-serif;
  height: 3em;
  padding: 0.65rem;
  text-align: center;
  width: 15rem;
}

.totals-dot {
  height: 6px;
  margin: 1.8px 5px;
  padding-bottom: 2px;
}

.applicants {
  margin-top: 2.4em;
  width: 10rem;
}

/* 
====================================================================================
Dividing Line
==================================================================================== */

.dividing-line {
  align-items: center;
  background-color: #edf2f6;
  display: flex;
  height: 3em;
  justify-content: center;
  width: 100%;
}

.line-button {
  background-color: #f9f9fb;
  border: 1.5px solid rgb(198, 201, 206);
  border-radius: 50%;
  height: 28px;
  padding: 5px;
  text-align: center;
  width: 28px;
}

.line {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 33em;
}

.up-arrow {
  height: 16px;
  padding-bottom: 4px;
}

/* 
====================================================================================
Lower Section
==================================================================================== */

.lower-box {
  background-color: #edf2f6;
  display: flex;
  height: 63.3rem;
  padding-top: 4em;
}

/* 
====================================================================================
Job-Description
==================================================================================== */

.table-column-wrap {
  display: flex;
  height: 54em;
  justify-content: space-between;
}

.job-table {
  background-color: #f9f9fb;
  border: 1px solid #d6d9dd;
  display: flex;
  flex-direction: column;
  margin-left: 3.35em;
  width: 67%;
}

.job-description {
  align-items: center;
  background-color: #f9f9fb;
  color: #727e92;
  display: flex;
  font: 1rem "Open Sans", sans-serif;
  height: 80%;
  justify-content: flex-start;
  padding-right: 1em;
}


.table-left {
  font: 800 "Open Sans", sans-serif;
  margin-left: 1em;
  min-width: 30%;
}

.table-right {
  min-width: 50%;
  padding-left: 2%;
}

.edit-button {
  background-color: rgb(130, 144, 167);
  border: none;
  color: #f9f9fb;
  font: 600 .8em "Open Sans", sans-serif;
  padding: 2px;
  width: 6em;
}

.edit-button:hover {
  cursor: pointer;
}

.pencil-edit {
  margin-right: 6px;
  width: 14%;
}

.row {
  background-color: #f9f9fb;
  border-bottom: 1px solid #d6d9dd;
  padding: 1%;
}

#job-header {
  background-color: #727e92;
  color: #f9f9fb;
}

.approve {
  margin: 0 1.5rem;
}

.tim-tizzy {
  display: flex;
}

.hiring-lead-icon {
  border-radius: 50%;
  height: 24px;
  margin-left: 5px;
}

/* 
====================================================================================
Network-Column
==================================================================================== */

.network-column {
  margin-right: 4em;
  width: 21%;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  height: 13.3em;
}

.job-link {
  display: flex;
  flex-direction: column;
}

.social-icon {
  height: 2em;
}

.icon-align {
  display: flex;
  flex-direction: row;
  padding-top: .5em;
}

.jobs-link-paragraph {
  margin: 1em 0;
  word-break: break-all;
}

.url-input {
  border: none;
  display: flex;
  flex-direction: row;
  height: 1em;
  margin-bottom: 3em;
  width: 100%;
}

.copy-button {
  background-color: #67b7bf;
  border: none;
  cursor: pointer;
  min-height: inherit;
  height: 3.58em;
  outline: none;
  width: 5.25em;
}

.network-button {
  border: none;
  color: #f7f2f2;
  height: 4em;
  line-height: 20px;
  margin-bottom: 2em;
  text-align: center;
}

.network-button:hover {
  cursor: pointer;  
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.linkedin {
  background-color: #4875b4;
}

.social-input {
  height: 40px;
  width: 100%;

}

.upload-resume {
  width: 100%;
}

.social-lower-wrap {
  background-color: #edf2f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 41.4em;
  width: 100%;
}

.network-header {
  font-size: 1em;
  padding-left: 0.3em;
  min-width: 209px;
}

.social-divide {
  height: 2px;
  width: 100%;
}

.email-enter {
  /* min-width: 245px; */
  width: 100%;
}

.social-card {
  margin: auto;
}

.lower-icon {
  padding-bottom: .8em;
}

/* 
====================================================================================
Media-Queries
==================================================================================== */

@media screen and (max-width: 1290px) {
  .nav-left {
    display: none;
  }

  .container-right {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1018px) {
  .job-table {
    margin-left: 0.5em;
  }
}

@media screen and (max-width: 1045px) {
  .headline {
    flex-direction: column;
  }

  .headline-right {
    height: 2em;
    justify-content: flex-start;
    padding-left: 43px;
  }

  .graphs-container {
    flex-direction: column;
  }

  .circle-column {
    width: 100%;
  }

  .bar-column {
    height: 18rem;
    width: 100%;
  }

  .bar-image {
    width: 11rem;
  }

  .circle-chart {
    height: 9rem;
  }

  .circles {
    margin-top: 0;
  }
}

@media screen and (max-width: 1080px) {
 
  .headline {
    height: 9%;
  }

  .lower-box {
    padding-top: 1em;
  }

  .table-column-wrap {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 54rem;
    width: 100%;
  }

  .job-table {
    margin-left: 0;
    width: 97%;
  }

  .network-column {
    height: 50%;
    margin-right: 0em;
    padding-top: 1em;
    width: 100%;
  }

  .network-button {
    width: 25%;
  }

  .network-button:hover {
    cursor: pointer;
  }

  .job-link,
  .upload-resume,
  .button-widget {
     width: 51%;
  }

  .social-buttons {
    align-items: center;
    height: 5rem;
    margin: 1.5em 4.5em;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .social-lower-wrap {
    align-items: center;
    background-color: #edf2f6;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .social-divide {
    display: none;
  }

  .url-input {
    margin: auto 0;
    text-align: center;
    width: 74%;
  }

  .table-column-wrap {
    width: 100%;
  }

  .green-dot {
    display: none;
  }

  .jobs-link-paragraph {
    max-width: 362px;
    width: 74%;
  }

  .email-enter {
    width: 365px;
  }

}

@media screen and (max-width: 796px) {
 
  .hamburger {
    width: 10em;
  }

  .app-button,
  .job-button,
  .interview-button,
  .act-button,
  .broadcast-button,
  .notifi-button {
    display: none;
  }

  .sum-button:hover .drop-down{
    display: inline;
  }

  .mid-toolbar {
    width: 10%;
  }

  .headline-left {
    padding-left: 4px;
  }

  .headline-right {
    padding-left: 4px;
  }

  .customer-service {
    font-size: 1.25em;
  }

  .jobs-link-paragraph {
    font-size: 0.75em;
  }

  .table-column-wrap {
    background-color: #edf2f6;
  }

  .facebook-text {
    visibility: hidden;
  }

  .sn-button {
    vertical-align: middle;
  }

  .social-icon {
    height: 3em;
  }

  @media screen and (max-width: 600px) {

    .hamburger {
      width: 8em;
    }

    .headline-right {
      height: 4em;
      margin-right: 11em;
    }

    .dividing-line {
      display: none;
    }

    .graphs-container {
      flex-direction: row;
      height: 29.5em;
    }

    .circles {
      flex-direction: column;
    }

    .circle-chart {
      height: 6rem;
    }

    .bar-column {
      margin-top: 15.3em;
    }

    .jobs-link-paragraph {
      display: none;
    }

    .social-lower-wrap {
      height: 24.4em;
    }


    .network-button {
      line-height: 0;
    }

    .network-column {
      margin-right: 6em;
    }
  }
}

@media screen and (max-width: 470px) {
  
  .hamburger {
    width: 15%;
  }
  
  .search-bar {
    width: 100%;
  }

  .headline-left {
    width: 100%;
  }

  .triangle {
    display: none;
  }

  .graphs-container {
    display: none;
  }
  .data-display {
    display: none;
  }

  .job-description {
    font-size: .8em;
  }

  .wrap-top-icons {
    display: none;
  }

  .url-input {
    width: 15em;
  }



}
